@font-face {
    font-family: Bingodilan;
    src: url(./assets/fonts/BingoDilan-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

.top-page {
    background-color: hsl(199, 13%, 42%);
    box-shadow: 0 0 10px 0 black;
    max-height: 200px;
    width: 100%;
    font-family: Bingodilan;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px ;
}

.top-page ul {
    display: flex;
}

.top-page li {
    list-style: none;
    background-color: hsl(199, 13%, 42% 0.5);
    box-shadow: 0 0 10px 0 black;
    border-radius: 20%;
    height: 40px;
    width: 100px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-doug {
    width: 150px;
    /* margin: 13px 40% 0 40%; */
    display: flex;

}

.main {
    background-color: #E2C698;
    min-height: 100px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.fond-liege {
background-color: red;
}

.main-doug-pic {
    height: 400px;
}

